.box {
    width: 200px;
    height: 200px;
    background: yellow;
    overflow: scroll;
    padding: 50px;
    border: 1px solid #ccc;
    position: absolute;top:100px;
}

.content {
    width: 400px;
    height: 400px;
    background: red;
}
.wrapper {
    position: fixed;left:400px;
    top:400px;
    /*display: none;*/
}
html {
    border: 10px solid #cccccc;
}
body {
    border: 5px solid #cccccc;
}
